<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Page Not Found</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gray-100 h-screen">
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl font-bold text-center text-red-600">404: Page Not Found</h1>
        <p class="mt-4 text-center">We're sorry, but the page you requested cannot be found. Please try again or use the navigation above to find what you're looking for.</p>
    </div>
</body>
</html>